window.env = {
  SERVER_URL: "$SERVER_URL",
  DEFAULT_ALBUM_SORT: "$DEFAULT_ALBUM_SORT",
  DEFAULT_ARTIST_SORT: "$DEFAULT_ARTIST_SORT",
  DEFAULT_GENRE_SORT: "$DEFAULT_GENRE_SORT",
  DEFAULT_FAVOURITES_SECTION: "$DEFAULT_FAVOURITES_SECTION",
  DEFAULT_PODCAST_SORT: "$DEFAULT_PODCAST_SORT",
  DEFAULT_PLAYLIST_SORT: "$DEFAULT_PLAYLIST_SORT",
}
