$theme-elevation-0: hsl(0, 0%, 0%);
$theme-elevation-1: hsl(0, 0%, 8%);
$theme-elevation-2: hsl(0, 0%, 18%);
$theme-text: #ccc;
$theme-text-muted: #999;

$primary: #8f5dd6;
$danger: #ff4141;
$secondary: $theme-elevation-2;

$body-bg: $theme-elevation-0;
$body-color: $theme-text;
$link-color: $theme-text;
$text-muted: $theme-text-muted;
$border-color: $theme-elevation-2;
