$theme-elevation-0: hsl(0, 0%, 0%);
$theme-elevation-1: hsl(0, 0%, 8%);
$theme-elevation-2: hsl(0, 0%, 18%);
$theme-text: #ccc;
$theme-text-muted: #999;

// Bootstrap overrides
$primary: #09f;
$danger: #ff4141;
$secondary: $theme-elevation-2;

$body-bg: $theme-elevation-0;
$body-color: $theme-text;

$grid-gutter-width: 2rem;

$headings-color: #fff;

$link-color: $theme-text;
$link-decoration: none;
$link-hover-decoration: underline;

$text-muted: $theme-text-muted;
$border-color: $theme-elevation-2;

// Button
.btn-primary {
  --bs-btn-color: #fff !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-hover-color: #fff !important;
}

.btn-transparent {
  --bs-btn-color: $theme-text;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 0;

  --bs-btn-active-color: #fff;
  --bs-btn-active-border-color: transparent;

  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #{rgba(#fff, .12)};

  --bs-btn-focus-shadow-rgb: 125, 125, 125;

  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: transparent;
}

$btn-close-color: $theme-text;

// Card
$card-bg: $theme-elevation-1;
$card-cap-bg: $theme-elevation-1;
$card-spacer-y: 1.25rem;
$card-spacer-x: 1.25rem;

// Modal
$modal-content-bg: $theme-elevation-1;
$modal-content-border-color: $theme-elevation-2;
.modal-backdrop {
  opacity: .5;
}

// Dropdown
$dropdown-bg: $theme-elevation-1;
$dropdown-link-color: $theme-text;
$dropdown-link-hover-bg: $theme-elevation-2;
$dropdown-link-hover-color: white;
$dropdown-border-color: $theme-elevation-2;
$dropdown-divider-bg: $theme-elevation-2;

.dropdown-toggle.dropdown-toggle-no-caret::before,
.dropdown-toggle.dropdown-toggle-no-caret::after {
  display: none !important;
}
.dropdown-menu {
  --bs-dropdown-link-active-bg: var(--bs-primary) !important;
}

// Popover
$popover-bg: $theme-elevation-1;
$popover-border-color: $theme-elevation-2;

// Tooltip
$tooltip-bg: $theme-elevation-1;
$tooltip-color: $theme-text;

.tooltip {
  position: absolute;
}

// Form
$input-bg: $theme-elevation-2;
$input-disabled-bg: $theme-elevation-1;
$input-border-color: $theme-elevation-2;
$input-color: $theme-text;
$custom-range-track-height: 0.1rem;
$custom-range-thumb-bg: $theme-text;
$custom-range-track-bg: $theme-text-muted;
$form-switch-color-dark: rgba(#fff, .25);
$form-switch-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-color-dark}'/></svg>");

// List group
$list-group-bg: rgba(#fff, 0);
$list-group-hover-bg: rgba(#fff, .1);
$list-group-color: $theme-text;
$list-group-action-hover-color: $theme-text;
$list-group-border-color: $theme-elevation-2;
$list-group-action-active-bg: rgba(#fff, .1);

// Offcanvas
$offcanvas-bg-color:$theme-elevation-1;

// Table
$table-color: $theme-text;
$table-bg: rgba(#fff, 0);
$table-hover-bg: rgba(#fff, .1);

$table-cell-padding-y: 0.75rem;
$table-cell-padding-x: 0.75rem;
@import './table';

.elevated {
  background-color: $theme-elevation-1;
}

.breadcrumb {
  background: none !important;
  padding: 0 !important;
}

a.active {
  color: var(--bs-primary);
}

.btn-link:focus {
  box-shadow: none !important;
}

@import './nav-underlined';
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-vue-next/dist/bootstrap-vue-next.css';
@import 'vue-slider-component/lib/theme/material';
