$theme-base: #000;
$theme-elevated: rgb(25, 25, 25);
$theme-text: #ccc;

$primary: #09f;
$danger: #e54b4b;

$body-bg: $theme-base;
$body-color: $theme-text;
$link-color: $theme-text;
$text-muted: #999;

// Card
$card-cap-bg: $theme-elevated;
$card-bg: $theme-elevated;

$modal-content-bg: $theme-elevated;

// Dropdown
$dropdown-bg: $theme-elevated;
$dropdown-link-color: $theme-text;
$dropdown-link-hover-bg: $theme-elevated;
$dropdown-link-hover-color: #a6a6a6;

$input-bg: $theme-elevated;
$input-color: #ccc !default;

$progress-bg: rgb(35, 35, 35);
$border-color: #444;

.elevated {
  background-color: $theme-elevated;
}